 

/*Medium devices (tablets, 768px and up)*/

@media (min-width: 1px) and (max-width: 1023px) { 
.main_content{
position: relative; 
float: left; 
}
}

@media (min-width: 1024px) { 
.main_content{
position: relative; 
float:right;
}
}
