/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);*/
/*html, body, table {*/
  /*font-family: 'Roboto', sans-serif;*/
  /*letter-spacing: .4px;*/
  /*font-weight:400;*/
/*}*/



#grp{

width:100%;
}


a{color:#000000; text-decoration:none;}

a:hover{color:#000000;text-decoration:underline;}

a:focus{outline:none; -mox-outline:none;}

.table_input>thead>tr>th, 
.table_input>tbody>tr>th, 
.table_input>tfoot>tr>th, 
.table_input>thead>tr>td, 
.table_input>tbody>tr>td, 
.table_input>tfoot>tr>td{ padding: 2px; }

.wrapper{

	width:100%;

	height:560px;

	margin: 0px auto 0px auto; 

}

.header{

	height:50px;

	color:#e2eaef;

}

.header2{

	font-size:11px;

	color:#ffffff;

	width:739px;

	height:73px;

	float:right;

}

.header2 a{

	color:#e2eaef;

	text-decoration:none;

}

.header2 a:hover{

	color:#e2eaef;

	text-decoration:underline;

}

.top_bar{

	background-color:#222222;


	width:100%;

	height:32px;

	color:#ffffff;

	line-height:32px;

	font-size:18px;

	font-weight:bold ;
    border-bottom: 1px

	}
	
	.top_bar_sr{

	background-color:#222222;


	width:100%;

	height:32px;

	color:#ffffff;

	line-height:32px;

	font-size:18px;

	font-weight:bold ;
    border-bottom: 1px;
	position: fixed;
	bottom: 0px;

	}


.title{

	font-family: Roboto, Helvetica, sans-serif;

	font-weight:normal;

	line-height:32px;

	font-size:16px;

	padding-right:10px;

}

.title1{

	font-family: Roboto, Helvetica, sans-serif;

	font-weight:normal;

	line-height:15px;

	font-size:14px;

	text-align:left;

}



.wel{

	width:230px;

	font-family: Roboto, Helvetica, sans-serif;

	font-weight:normal;

	line-height:32px;

	font-size:14px;

	padding-left:10px;

}

.icon{

	width:760px;

	float:right;

	text-align:right;

	font-size:11px;

	}

.heading{

	text-align:left;

	font-size:11px;

	}

.msg_text{

	width:99%;

	font-size:11px;

	height:18px;

	border:1px solid #e8e657;

	background-color:#fffee5;

	font-family: Roboto, Helvetica, sans-serif;

	color:#000000;

	text-align:right;

	line-height:18px;

	padding:2px;

	}

.body_box{

	width:100%;

	border-radius: 7px 7px 7px 7px;


}



.body_box_topbar{

	width:964px;

	font-family: Roboto, Helvetica, sans-serif;

	font-size:16px;

	color:#000000;

	background:url(../images/index_green_05.jpg) repeat-x;

	height:10px;

	vertical-align:middle;

}



.body_box_bottombar{


	height:25px;

	text-align:center;

}

.body_box_leftbar{


	width:21px;

}

.body_box_rightbar{


	width:15px;

}

.body_middlebox_bar{



	/*width:1200px;*/

	min-height:520px;

}

.login_box{

	width:320px;


	margin: 0px auto; 
	padding-left: 70px;
	padding-bottom: 30px;
	background: white;
	padding: 50px;

}
.login_box table tr td input{
padding: 0px 5px;
}
.btn-sr{
background: #0074A2;
color: white;
margin-top: 10px;
font-size: 12px;
width: 50px !important;

}

.btn-sr:hover{
opacity: .8;
background: #0074A2;
color: white;

}

.login_box

.login_box_body{

	font-family: Roboto, Helvetica, sans-serif;

	font-size:12px;

	color:#ffffff;

	line-height:15px;


	width:284px;

	height:197px;

}

.form{

	width:250px;

	margin: 15px auto -1px auto; 

}





.left{

	<-- width:550px;--/>


	color:#ffffff;

}

.right{

	<-- width:330px;--/>

	text-align:right;

}

.right_main{

	width:920px;

	text-align:right;

	/*overflow:auto;*/
	
	 display: table-cell;
    height: 100vh;
    min-height: 100%;
    padding: 0;
    vertical-align: top;
    transition: width 0.3s ease;

}



.box{
	color:#282a3c;
	border:1px solid #A6A6A6;
	border-collapse:collapse;
	padding:0px;
	vertical-align:middle;
	margin:auto;
	padding: 5px;
	margin-bottom: 10px;
	border-radius: 5px; 
	background-color:#F0F0F0;
}

.box td{
	padding: 2px;
	vertical-align:middle;
	size: 14rem;
}
.box td .btn{
	text-align:center !important;
}

.box1{

	width:100%;

	color:#fff;

	/*border:1px solid #caf5a5;*/

	border-collapse:collapse;

	padding:0px;

	text-align:left;

}



.box2{

	width:948px;

	/*color:#fff;*/

	border:1px solid #caf5a5;

	border-collapse:collapse;

	padding:0px;

	text-align:left;

	vertical-align:middle;

	margin:0px auto -1px auto; 
	background-color:#F7F7F7;
	

}

.box2 td{

	padding: 3px;

	text-align:left;

	width:50%;

}

.box4{

	width:718px;

	/*color:#fff;*/

	border:1px solid #A8A8A8;

	border-collapse:collapse;

	padding:0px;

	text-align:left;

	vertical-align:middle;

	margin:0px auto -1px auto; 

}

.box4 td{

	padding: 3px;

	text-align:right;

	font-size: 14px;

}



.box3{

	width:99%;

	color:#fff;

	border:1px solid #caf5a5;

	border-collapse:collapse;

	padding:0px;

	text-align:right;

}

.box3 td{

	text-align:center;

	padding:2px;

	text-align:right;

}

.input {

	width:160px;

	height:18px;

	border:1px solid #a5bed2;

	background:#ffffff;

	font-family: Roboto, Helvetica, sans-serif;

	font-size:11px;

	color:#465b60;

	font-weight:normal;

}

.input:hover, .input:focus {

	border-color:#c5c5c5;

	background:#f6f6f6;

}



.error { float: none; color: red; padding-left: .5em; vertical-align: top; }


.buttonrow{
margin-top: 10px;
}



.sr_main_content{
display: table-cell;
    height: 100vh;
    min-height: 100%;
    padding: 0;
    vertical-align: top;
    transition: width 0.3s ease;
	
background: #F1F1F1;	

   /*-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;*/
   padding: 10px;


}

.login-form-sr input{

height: 35px;
}
.login-form-sr p{
margin-bottom: 3px;
font-weight:bold;
}

.sr-logo{
margin: 0px auto;
margin-top: 40px;
margin-bottom: 10px;
max-width: 270px;
height: 100px;
}
.sr-logo img{
width: 100%;
height: 100%;
}
.sr_main_content_directory{
background: #FFFFFF;

border: 1px solid #308CB8;
border-left: 5px solid #0073AA;
border-radius: 5px;
padding: 5px;
text-align: left;
margin-bottom: 15px;
font-weight:bold;
}


.sidebar {
    width: 14%;
    background: black;
    height: 100%;
    float: left;
    padding-top: 5px;
}


.main_content {
    float: left;
}

.bg-light{
background: white !important;
padding: 12px 30px;
border-bottom:1px Solid #cccccc;
}
.sr-main-content{

background-color:#ffffff;


}
.navbar-brand{
color: #333333;
font-weight:bold;
}

.sr-main-content-padding{
background: #ffffff;
/*background: white;*/
padding: 10px 20px;
border:1px solid #E6E9ED;
border-bottom:none;
/*border-radius: 5px;*/
}

.sr-main-content-heading{
margin: 0;
padding: 0;
font-size: 18px;
font-weight: 500;
color: #48465b;

}

.user_pic {



}
.user_pic img {
	width:40px;
	margin-top:0.5rem;
}

.dot{
	width: 20px;
    height: 20px;
    color: transparent;
    padding-top: 5px;
    font-size: 11px;
    display: inline-block;
    border-radius: 100%;
        background: #FBEEC8;

    position: relative;
    transition: background 0.5s ease 0.5s;
	margin-bottom:1rem;
}

.dash_content{
	margin:3rem 0rem;
	color:#fff;
}

.overlay{
	 background-color: rgba(77, 98, 172, 0.75);
	 background-image:url(../pic/bg.jpg);
    box-shadow: inset 0 -7px 20px -5px rgba(0, 0, 0, 0.3);
	margin:0 !important;
}

.dash_panel{
	 background-color: rgba(77, 98, 172, 0.75);
	 margin:0 !important;
}
.dash_btn{
	    animation: bounceIn 1s;
}

hr.line {
    height: 0.3rem;
    margin-top: 3.5rem;
    position: absolute;
    background-color: #fff;
    width: 75%;
    /* margin: 0 auto; */
    margin-left: 12%;
}

.title-image{
margin-bottom: 5px;
}
.form-container_large{
 /*border: 2px solid #F0F0F0;*/
 padding: 10px;
 /*border-radius: 7px;*/
}

.userblock {
    font-size: 12px;
    font-size: 1.2rem;
    display: inline;
    position: absolute;
    top: 0;
    right: 0
}
.userblock #avatar-upload:hover .image-overlay,
    .userblock .dz-drag-hover .image-overlay {
        display: block;
        pointer-events: none
    }
	
.userblock {
        height: 100%;
        width: auto;
        right: 135px;
        position: absolute;
        font-size: 12px;
        font-size: 1.2rem
    }
 .userblock {
        right: 248px;
    }
    .userblock.extra-icon {
        right: 310px
    }

.userblock .left {
    font-size: 12px;
    font-size: 1.2rem
}

#avatar-upload {
        margin-top: 0
    }


    #avatar-upload {
        width: 41px;
        height: 41px;
        display: inline;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin: 0;
        border-radius: 50%
    }

.right {
    float: left;
}
.rights {

}


.userimg {
    width: 37px;
    height: 37px;
    margin-right: 2px;
    pointer-events: none
}
 .userdetail {
        display: block!important;
        padding: 0;
        position: relative!important;
        width: auto;
        background-color: inherit;
        top: 50%;
        transform: translateY(-50%)!important;
        padding-left: 10px;
        z-index: auto
    }


.vertical-centre {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}
.username {
    display: block;
	
   text-transform: uppercase !important;
    text-decoration: none;
	font-size:16px;
    text-transform: none;
    font-weight: bold;
}
 .company_name {
    display: block;
    text-decoration: none;
	font-size:13px;
    text-transform: none;
    font-weight: 300
}


 .notification-switch {
    position: absolute;
    right: 11px;
    top: 13px;
    background: #fa6400;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
    display: none;
    padding: 2px 5px
}


.help-switch {
    width: 90px;
    height: 37px;
    color: #fff;
    background-color: #39f;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    text-transform: uppercase;
    font-size: 12px;
    padding-left:10px;
    padding-top:5px;
    font-weight: 600;
    right: 0;
    transition: width .1s ease;
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 20px;
    border: 1px solid #39f;
    border-right: none
}


/*#clock {*/
		/*height: 100%;*/
		/*top: 0;*/
		/*width: auto;*/
		/*background-color: transparent;*/
		/*z-index: auto;*/
		/*right: 12px;*/
		/*position: absolute;*/
		/*display: inline-block;*/
		/*font-family: 'Share Tech Mono', monospace;*/
		/*color: #000000 !important;*/
		/*text-align: center;*/
		/*padding-left:10px;*/
		/*padding-top: 3px;*/
		/*text-shadow: 0 0 10px rgba(10, 175, 230, 1),  0 0 10px rgba(10, 175, 230, 0);*/
		/*line-height: 1;*/
	/*}*/
	/**/
  /*#clock .time {*/
        /*font-size: 28px;*/
        /*padding: 1px 0;*/
		/*font-weight:800;*/
    /*}*/
  /*#clock .date {*/
      /**/
        /*font-size: 12px !important;*/
    /*}*/
  /*#clock .text {*/
  /**/
        /*font-size: 12px;*/
        /*padding: 1px 0;*/
    /*}*/
/*#clock span */
/*{*/
    /*display: block;*/
/*}*/








.vertical-centre {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}
.helpblock {
    height: 39px;
    width: 50px;
    position: absolute;
    right: 0;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    z-index: 102;
    background-color: #39f
}

.btn-green{
    background: #95BF03!important;
    border-color: #95BF03!important;
	border-radius:25rem!important;
	color:#fff!important;
}


.btn.btn-grey {
    border-color: #E6E7E8!important;
    background-color: #E6E7E8!important;
	border-radius:25rem!important;
	border-radius:25rem!important;
	margin-right:5px;
	
}
.btn.btn-grey i{
padding:0px 5px;
}
.btn.btn-green i{
padding:0px 5px;
}

.sr-main-content-padding > table{
	font-family: Roboto, Helvetica, sans-serif;
    font-size: 14px!important;
}




/* dashboard design  */

.info-box {
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    border-radius: .25rem;
    background: #fff;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
    min-height: 80px;
    padding: .5rem;
    position: relative;
}



.info-box .info-box-icon {
    border-radius: .25rem;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.875rem;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 70px;
}

.info-box .info-box-content {
    -ms-flex: 1;
    flex: 1;
  /*  padding: 5px 10px;*/
}

.info-box .info-box-text, .info-box .progress-description {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.info-box .info-box-number {
    display: block;
    font-weight: 700;
}

.small-box {
    border-radius: .25rem;
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    display: block;
    margin-bottom: 20px;
    position: relative;
}
.small-box>.inner {
    padding: 10px;
}
.small-box .icon1{
    color: rgba(0,0,0,.15);
    z-index: 0;
}
.icon1 {
    width: 760px;
    float: right;
    text-align: right;
    font-size: 11px;
}


.small-box h3 {
    font-size: 2.2rem;
    font-weight: 700;
    margin: 0 0 10px 0;
    padding: 0;
    white-space: nowrap;
    color:#fff;
}

.small-box p {
    font-size: 1rem;
    color: #fff;
}


.small-box>.small-box-footer {
    background: rgba(0,0,0,.1);
    color: rgba(255,255,255,.8);
    display: block;
    padding: 3px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 10;
}

#collapse_sidebar, #extract_sidebar {
	text-align: center;
	border-radius: 0px 10px 10px 0px;
	background-color: #6239eb;
	color: white;
	border: none;
	font-weight: 400;
}

#collapse_sidebar:hover, #extract_sidebar:hover {
	text-align: center;
	border-radius: 0px 10px 10px 0px;
	background-color: white;
	color: #6239eb;
	border: 1px solid #6239eb;
	font-weight: 400;
}

.button-bar {
	margin-left:0px;
}

	
/* dashboard design end */