/* CSS Document */



.tabledesign{

	width: 100%;

	padding: 2px;

	overflow:auto;

	margin: 0px auto 1px auto;

	background-color:#ffffff;

	text-align:left;

}



.tabledesign th {

	font: bold 12px Verdana, Poppins, Helvetica, sans-serif;

	background-color:#00C69D;

	color: #000;

	border-right: 1px solid #417216;



	text-align: left;

	padding: 2px;
	padding: 10px;
	border-color: white;
	
	border-bottom: 1px solid black;

}



.tabledesign td{



	padding: 3px 3px 3px 2px;

	color: #4c4c4c;


	border-color: white;
	border-bottom: 1px solid #DDDDDD;

}

.tabledesign tr{

	color: #4f6b72;

}

.tabledesign tr:hover{

	background: #aec495;

	color: #4f6b72;

}

tr.alt {

	background: #F0F0F0;

	color: #000;

}



/*------------------Smal table Scroll-------------------*/

/* CSS Document */



.tabledesign1{

	width: 100%;

	padding: 0;

	height:250px;

	overflow:auto;

	margin: 0px auto 1px auto;

	background-color:#ffffff;

	border-left: 1px solid #417216;

	text-align:left;

}



.tabledesign1 th {

	font: bold 11px;

	background-color:#cbde72;

	color: #000;

	border-right: 1px solid #417216;

	border-bottom: 1px solid #417216;

	border-top: 1px solid #417216;

	text-align: left;

	padding: 2px 2px 2px 2px;

}



.tabledesign1 td{

	border-right: 1px solid #417216;

	border-bottom: 1px solid #417216;

	padding: 3px 3px 3px 2px;

	color: #000;

	text-align:left;

}

.tabledesign1 tr{

	color: #4f6b72;

}



tr.alt {

	background: #F0F0F0;

	color: #000;

}



/*---------------------------------------*/





.tabledesign2 {

	width: 100%;

	padding: 0;

	margin: 0px auto 1px auto;

	background-color:#ffffff;

	border-left: 1px solid #417216;

	text-align:left;

}



.tabledesign2 th {

	font: bold 11px;

	background-color:#215470;

	color: #fff;

	border-right: 1px solid #000;

	border-left: 1px solid #000;

	border-bottom: 1px solid #000;

	border-top: 1px solid #000;

	text-align: left;

	padding: 3px 3px 3px 12px;

}



.tabledesign2 td{

	border-right: 1px solid #417216;

	border-bottom: 1px solid #417216;

	padding: 3px 3px 3px 3px;

	color: #000;

	text-align:left;

}

.tabledesign2 tr{

	color: #4f6b72;

}



/*---------------------------------*/



.table_normal{

background-color:none;

border:1px solid #417216;

background-color:#d4f6a0;

border-collapse:collapse;

text-align:center;

color:#000000;

}

.table_normal td{

padding:2px;

text-align:center;}





.table_normal1{

width:100%;

background-color:none;

border:1px solid #417216;

background-color:#d4f6a0;

border-collapse:collapse;

text-align:center;

color:#000000;

}

.table_normal1 td{

padding:2px;

border-right: 1px solid #417216;

border-left: 1px solid #417216;

border-right: 1px solid #417216;

border-bottom: 1px solid #417216;



text-align:center;}

/*------------------Flat Allotment text field---------------------*/

.table_flat{

font-size:14px;

background-color:none;

border:1px solid #417216;

background-color:#d4f6a0;

border-collapse:collapse;

text-align:center;

color:#000000;

}

.table_flat td{

padding:0px;

text-align:center;}



td.red {

	background:url(../images/1.gif) repeat-x;	width:100px;

	height:50px;

	color: #000000;

	border-left:1px solid #cf4700;

	border-right:1px solid #cf4700;

	border-collapse:collapse;

	font-weight:bold;

}

td.red:hover{

	background:url(../images/0.gif) repeat-x;

	color: #000000;

	border-left:1px solid #cf4700;

	border-right:1px solid #cf4700;

	border-collapse:collapse;

	font-weight:bold;

}

td.blue {

	background:url(../images/2.gif)  repeat-x;

	width:100px;	height:50px;

	color: #000000;

	border-left:1px solid #86b2d1;

	border-right:1px solid #86b2d1;

	border-collapse:collapse;

	font-weight:bold;

}

td.blue:hover{

	background:url(../images/3.gif)  repeat-x;

	color: #ffffff;

	border-left:1px solid #86b2d1;

	border-right:1px solid #86b2d1;

	border-collapse:collapse;

	font-weight:bold;

}

td.yallow {

	background:url(../images/4.gif) repeat-x;	width:100px;

	height:50px;

	color: #000000;

	border-left:1px solid #dea303;

	border-right:1px solid #dea303;

	border-collapse:collapse;

	font-weight:bold;

}

td.yallow:hover{

	background:url(../images/5.gif)  repeat-x;

	color: #ffffff;

	border-left:1px solid #b38c4f;

	border-right:1px solid #b38c4f;

	border-collapse:collapse;

}

td.purple{

	background:url(../images/6.gif) repeat-x;	width:100px;

	height:50px;

	color: #000000;

	border-left:1px solid #b4226e;

	border-right:1px solid #b4226e;

	border-collapse:collapse;

	font-weight:bold;

}

td.purple:hover{

	background:url(../images/7.gif) repeat-x;

	color: #ffffff;

	font-weight:bold;

	border-left:1px solid #b4226e;

	border-right:1px solid #b4226e;

	border-collapse:collapse;

}



td.green{

	background:url(../images/8.gif) repeat-x;	width:100px;

	height:50px;

	color: #000000;

	border-left:1px solid #b4226e;

	border-right:1px solid #b4226e;

	border-collapse:collapse;

	font-weight:bold;

}

td.green:hover{

	background:url(../images/9.gif) repeat-x;

	color: #ffffff;

	font-weight:bold;

	border-left:1px solid #b4226e;

	border-right:1px solid #b4226e;

	border-collapse:collapse;

}



td.firoza{

	background:url(../images/11.gif) repeat-x;	width:100px;

	height:50px;

	color: #000000;

	border-left:1px solid #b4226e;

	border-right:1px solid #b4226e;

	border-collapse:collapse;

	font-weight:bold;

}

td.firoza:hover{

	background:url(../images/12.gif) repeat-x;

	color: #ffffff;

	font-weight:bold;

	border-left:1px solid #b4226e;

	border-right:1px solid #b4226e;

	border-collapse:collapse;

}



.table {
	width: 100%;
	margin-bottom: 1rem;
	color: #212529
}

.table td,
.table th {
	padding: .5rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6
}

.table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid #dee2e6
}

.table tbody+tbody {
	border-top: 2px solid #dee2e6
}

.table-sm td,
.table-sm th {
	padding: .3rem
}

.table-bordered {
	border: 1px solid #dee2e6
}

.table-bordered td,
.table-bordered th {
	/*border: 1px solid #dee2e6*/
	border: 1px solid #d1d1d1;
}

.table-bordered thead td,
.table-bordered thead th {
	border-bottom-width: 2px
}

.table-borderless tbody+tbody,
.table-borderless td,
.table-borderless th,
.table-borderless thead th {
	border: 0
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(0, 0, 0, .05)
}

.table-hover tbody tr:hover {
	color: #212529;
	background-color: rgba(0, 0, 0, .075)
}

.table-primary,
.table-primary>td,
.table-primary>th {
	background-color: #b8daff
}

.table-primary tbody+tbody,
.table-primary td,
.table-primary th,
.table-primary thead th {
	border-color: #7abaff
}

.table-hover .table-primary:hover {
	background-color: #9fcdff
}

.table-hover .table-primary:hover>td,
.table-hover .table-primary:hover>th {
	background-color: #9fcdff
}

.table-secondary,
.table-secondary>td,
.table-secondary>th {
	background-color: #d6d8db
}

.table-secondary tbody+tbody,
.table-secondary td,
.table-secondary th,
.table-secondary thead th {
	border-color: #b3b7bb
}

.table-hover .table-secondary:hover {
	background-color: #c8cbcf
}

.table-hover .table-secondary:hover>td,
.table-hover .table-secondary:hover>th {
	background-color: #c8cbcf
}

.table-success,
.table-success>td,
.table-success>th {
	background-color: #c3e6cb
}

.table-success tbody+tbody,
.table-success td,
.table-success th,
.table-success thead th {
	border-color: #8fd19e
}

.table-hover .table-success:hover {
	background-color: #b1dfbb
}

.table-hover .table-success:hover>td,
.table-hover .table-success:hover>th {
	background-color: #b1dfbb
}

.table-info,
.table-info>td,
.table-info>th {
	background-color: #bee5eb
}

.table-info tbody+tbody,
.table-info td,
.table-info th,
.table-info thead th {
	border-color: #86cfda
}

.table-hover .table-info:hover {
	background-color: #abdde5
}

.table-hover .table-info:hover>td,
.table-hover .table-info:hover>th {
	background-color: #abdde5
}

.table-warning,
.table-warning>td,
.table-warning>th {
	background-color: #ffeeba
}

.table-warning tbody+tbody,
.table-warning td,
.table-warning th,
.table-warning thead th {
	border-color: #ffdf7e
}

.table-hover .table-warning:hover {
	background-color: #ffe8a1
}

.table-hover .table-warning:hover>td,
.table-hover .table-warning:hover>th {
	background-color: #ffe8a1
}

.table-danger,
.table-danger>td,
.table-danger>th {
	background-color: #f5c6cb
}

.table-danger tbody+tbody,
.table-danger td,
.table-danger th,
.table-danger thead th {
	border-color: #ed969e
}

.table-hover .table-danger:hover {
	background-color: #f1b0b7
}

.table-hover .table-danger:hover>td,
.table-hover .table-danger:hover>th {
	background-color: #f1b0b7
}

.table-light,
.table-light>td,
.table-light>th {
	background-color: #fdfdfe
}

.table-light tbody+tbody,
.table-light td,
.table-light th,
.table-light thead th {
	border-color: #fbfcfc
}

.table-hover .table-light:hover {
	background-color: #ececf6
}

.table-hover .table-light:hover>td,
.table-hover .table-light:hover>th {
	background-color: #ececf6
}

.table-dark,
.table-dark>td,
.table-dark>th {
	background-color: #c6c8ca
}

.table-dark tbody+tbody,
.table-dark td,
.table-dark th,
.table-dark thead th {
	border-color: #95999c
}

.table-hover .table-dark:hover {
	background-color: #b9bbbe
}

.table-hover .table-dark:hover>td,
.table-hover .table-dark:hover>th {
	background-color: #b9bbbe
}

.table-active,
.table-active>td,
.table-active>th {
	background-color: rgba(0, 0, 0, .075)
}

.table-hover .table-active:hover {
	background-color: rgba(0, 0, 0, .075)
}

.table-hover .table-active:hover>td,
.table-hover .table-active:hover>th {
	background-color: rgba(0, 0, 0, .075)
}

.table .thead-dark th {
	color: #fff;
	background-color: #343a40;
	border-color: #454d55
}

.table .thead-light th {
	color: #495057;
	background-color: #e9ecef;
	border-color: #dee2e6
}

.table-dark {
	color: #fff;
	background-color: #343a40
}

.table-dark td,
.table-dark th,
.table-dark thead th {
	border-color: #454d55
}

.table-dark.table-bordered {
	border: 0
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(255, 255, 255, .05)
}

.table-dark.table-hover tbody tr:hover {
	color: #fff;
	background-color: rgba(255, 255, 255, .075)
}


