
:root {
    /*Define Theme text Color and backgroun color code*/
    /*--theme-color-bgc: green;*/
    --theme-color-bgc: #6239EB;
    --theme-color-text:;


/*---- Main menu and menu dropdown color code -----*/
    /*menu background color*/
    --menu-bg-color: #FFFFFF;
    --item-main-bg-color:var(--menu-bg-color);

    /*menu item background color*/
    /*color*/
    --white-1:#333;
    /*bg color*/
    --nav-item-bg:var(--menu-bg-color);

    /*hover color*/
    --nav-item-hover-bg:var(--theme-color-bgc);
    /*--nav-item-hover-bg:#6239EB;*/

    /*menu item dropdown background color*/
    /*color*/
    --sub-text:#11101d;

    /*bg-color*/
    --dropdown-item:#EFEBFD;

    /*border color*/
    --nav-border:#0401012e;

    /*hover background color*/
    --nav-item-dropdown:#c9c9c9;

    /*hover color*/
    --white-normal: var(--white-1);

    --color-item-hover:#fff;

    /*active color*/
    --active-bg:#EFEBFD;
    /*--active-bg:#5c5a5af5;*/

    /*module main bg color*/
    --module-titel:#fff;
    --module-color:var(--theme-color-bgc);

    /*img back ground color*/
    --bg-color:var(--menu-bg-color);


    --menu-bg-red: #db3333;
    --logout-bg-red:#ff0000;
    --menu-bg-green:#33ab33;
    --menu-bg-deepskyblu:#00bfff;
    --menu-bg-purple:#bd16a4;
    --menu-bg-orange:#ffa500;


    /* Define all Button color */
/*---- background color and text color code -----*/
    --bgc-text-color: #ffffff;
    --bgc-text-color1: #000000;

    /*background css color code*/
    --bgc-color-primary: #007BFF;
    --bgc-color-info : #17a2b8;
    --bgc-color-success: #28a745;
    --bgc-color-yellow: #ffc107;
    --bgc-color-danger: #dc3545;
    --bgc-color-violet:#AF7AC5;
    --bgc-color-light-green:#1ABC9C;
    --bgc-color-yellow1:#E9FF85;

/*---- Button color code -----*/
    --btn-text-color: #ffffff;
    --btn-text-color1:#000000;

    /*Button hover color*/
    --btn-hover-color:#8f4601;

    /*Button background color*/
    --btn-hrm-bg-color:#AC0693;
    --btn-bg-color-cancel:#dc3545;
    --btn-bg-color-submit:#28a745;
    --btn-bg-color-update:#17a2b8;
    --btn-bg-color-help:#ffc107;
    --btn-submit-input:#28a745;


    /*---- Table color code -----*/
    --table-bg-color:#233f69;
    --table-color:#fff;
    --child-odd-color:#f9e79f;
    --child-even-color:#fff;
    --child-text-color:#000;


    /*---- Form color code -----*/
    --form-white: #ffffff;
    /*all color css code*/
    --form-info: #17a2b8;
    --bgc-sallmon:#F9E79F;
    --bgc-sallmon1:#F9E79F;
    --white-smoke: #efefef;
    --form-titel-bg-color:#cdebe5;
    --form-tabel-bg-color-info:#2471A3;
    --req-input-after:#FF0000;


}

/*-----------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------- Button design is css Start --------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------*/
/*--- Define all color using code ---*/
/*color: var(--title-color);*/
/*font-family: var(--title-font);*/

/*----------------------------------------------*/
/*-------- button all css or color -----------*/
/*----------------------------------------------*/
.btn1-bg-hrm{
    background-color: var(--btn-hrm-bg-color);
    color: var(--btn-text-color);
    border-color: var(--btn-hrm-bg-color);
}
.btn1-bg-hrm:hover{
    background-color: var(--btn-hover-color);
    color: var(--btn-text-color);
    border-color: var(--btn-hrm-bg-color);
}


.btn1-bg-update{
    background-color: var(--btn-bg-color-update);
    color: var(--btn-text-color);
    border-color: var(--btn-bg-color-update);
}

.btn1-bg-update:hover{
    background-color: var(--btn-hover-color);
    color: var(--btn-text-color);
    border-color: var(--btn-bg-color-update);
}

/*btn1 btn1-bg-submit btn1-bg-cancel btn1-bg-update*/
/*btn1 btn1-submit-input*/

.btn1-bg-submit{
    background-color: var(--btn-bg-color-submit);
    color:var(--btn-text-color);
    border-color: var(--btn-bg-color-submit);
}
.btn1-bg-submit:hover{
    background-color: var(--btn-hover-color);
    color: var(--btn-text-color);
    border-color: var(--btn-bg-color-submit);
}

.btn1-bg-submit::before {
    /*font-family: "Font Awesome 5 Free";*/
    /*content: '\f06e';*/
    /*display: inline-block;*/
    /*padding-right: 3px;*/
    /*vertical-align: middle;*/
    /*font-weight: 900;*/
}

.btn1-bg-cancel{
    background-color: var(--btn-bg-color-cancel);
    color:var(--btn-text-color);
    border-color: var(--btn-bg-color-cancel);
}

.btn1-bg-cancel:hover{
    background-color: var(--btn-hover-color);
    color:var(--btn-text-color);
    border-color: var(--btn-bg-color-cancel);
}

.btn1-bg-cancel::before {
    /*font-family: "Font Awesome 5 Free";*/
    /*content: '\f0e2';*/
    /*display: inline-block;*/
    /*padding-right: 3px;*/
    /*vertical-align: middle;*/
    /*font-weight: 900;*/
}


.btn1-bg-help{
    background-color: var(--btn-bg-color-help);
    color:var(--btn-text-color);
    border-color: var(--btn-bg-color-help);
}

.btn1-bg-help:hover{
    background-color: var(--btn-hover-color);
    color:var(--btn-text-color);
    border-color: var(--btn-bg-color-help);
}

.btn1-submit-input{
    background-color: var(--btn-submit-input);
    font-size: 14px;
    color:var(--btn-text-color);
    border-color: var(--btn-submit-input);
    border-radius: 5px;
}

.btn1-submit-input:hover{
    background-color: var(--btn-hover-color);
    color:var(--btn-text-color);
    border-color: var(--btn-submit-input);
}


.btn1-bg-primary{
    background-color: var(--btn-bg-color-update);
    color: var(--btn-text-color);
    border-color: var(--btn-bg-color-update);
}
.btn1-bg-primary:hover{
    background-color: var(--btn-hover-color);
    color: var(--btn-text-color);
    border-color: var(--btn-bg-color-update);
}

.btn1-bg-yellow{
    background-color: var(--btn-bg-color-help);
    color: var(---btn-text-color1);
    border-color: var(--btn-bg-color-help);
}

.btn1-bg-yellow:hover{
    background-color: var(--btn-hover-color);
    color: var(--btn-text-color1);
    border-color: var(--btn-bg-color-help);
}


/*-------- Btn customis css start -----*/
.btn1{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    line-height: 1.5;
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    border-radius: 0.2rem;
    margin: 1px;
    min-width: 100px!important;
    /*padding: 0.375rem 0.75rem;*/
    /*font-size: 1rem;*/
    /*border-radius: 0.25rem;*/
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}



.input-btn-submit{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 5px;
}



/*---------------------------------------------------*/
/*------ background color css or text color ---------*/
/*---------------------------------------------------*/
.bgc-primary{
    background-color: var(--bgc-color-primary);
    color: var(--bgc-text-color);
}

.bgc-info{
    background-color: var(--bgc-color-info);
    color: var(--bgc-text-color);
}

.bgc-success{
    background-color: var(--bgc-color-success);
    color:var(--bgc-text-color);
}

.bgc-yellow{
    background-color: var(--bgc-color-yellow);
    color: var(--bgc-text-color1);

}

.bgc-danger{
    background-color: var(--bgc-color-danger);
    color:var(--bgc-text-color);
}

.bgc-violate{
    background-color: var(--bgc-color-violet);
    color:var(--bgc-text-color);
}
.bgc-light-green{
    background-color: var(--bgc-color-light-green)!important;
    color:var(--bgc-text-color)!important;
}

.bgc-yello1{
    background-color: var(--bgc-color-yellow1);
    color: var(--bgc-text-color1);
}

/*btn btn-bg-success btn-bg-danger btn-bg-info*/












/*-----------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------- Menu design is css Start --------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------*/
body, h1, h2, h3, h4, h5, h6, p, a, samp, span{
    font-family: 'Poppins', sans-serif !important;
    overflow: auto!important;
    /*font-size: 14px !important;*/
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.theme_color_bg{
    background-color: var(--nav-item-hover-bg);
}


.theme_color{
    color: var(--nav-item-hover-bg);
}

.menu_bg{

    display:block;
    height: auto;
    min-height: 100%;
    padding: 0;
    vertical-align: top;
    transition: width 0.3s ease;
    border-top: 1px solid var(--nav-border);


}

.menu_bg {
    /*background-color: var(--nav-item-bg);*/
    background-color: var(--menu-bg-color);
    padding-bottom: 32px !important;
    margin-top: 5px !important;
    /*padding-top: 5px !important;*/
}

.mhafuz11 a{
    border-left:5px solid var(--menu-bg-red);
    border-right: 5px solid var(--menu-bg-red);
}

.mhafuz22 a{
    border-left:5px solid var(--menu-bg-green);
    border-right: 5px solid var(--menu-bg-green);
}

.mhafuz33 a{
    border-left:5px solid var(--menu-bg-deepskyblu);
    border-right: 5px solid var(--menu-bg-deepskyblu);
}

.mhafuz44 a{
    border-left:5px solid var(--menu-bg-purple);
    border-right: 5px solid var(--menu-bg-purple);
}

.mhafuz55 a{
    border-left:5px solid var(--menu-bg-orange);
    border-right: 5px solid var(--menu-bg-orange);
}


.module-title{
    background-color:var(--module-titel);
    color:var(--module-color);
    width: 100%;
    /*text-align:center;*/
    text-align:left;
    font-size:17px;
    margin:0px;
    /*padding: 10px 0px;*/
    padding: 16px 0px 10px 7px;
    font-weight: 700;
}

.sidebar ,.title-image{
    background-color: var(--bg-color)!important;
}


.title-image{
    text-align: center;
    margin: 0px !important;
    padding: 0px !important;
}

.menu-module-titel{
    background-color:var(--module-titel);
    color:var(--module-color);
    padding:10px;
    text-align:center;
    margin-bottom: 1px;
    margin-top: 1px;
}

.menu-module-titel a{
    color:var(--white-normal0)!important;
}


.dashboard1-app {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    margin-top: 84px;
}

.dashboard1-content {
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    padding: 25px;
}


.dashboard1-nav-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

}



.dashboard1-nav-item {
    min-height: 35px;
    font-size: 14px;
    /*line-height: 14px;*/
    padding: 13px 10px 10px 53px;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    letter-spacing: 0.02em;
    transition: ease-out 0.5s;
    background-color: var(--nav-item-bg);
    color: var(--white-1);
    cursor: pointer;
    /*border-top: 1px solid var(--nav-border);*/
    border-bottom: 1px solid var(--nav-border);
}


.dashboard1-nav-item i {
    width: 25px;
    font-size: 14px;
    margin-left: -40px;
    /*color: #979494;*/
}

.dashboard1-nav-item:hover {
    background-color: var(--nav-item-hover-bg);
    color: var(--color-item-hover) !important;
    /*border-radius: 10px;*/
    font-weight: 500;

}

.dashboard1-nav-item .dashboard1-nav-dropdown-toggle{
    font-size: 14px;
}

/*.active {*/
/*background-color: var(--active-bg)!important;*/
/*color: var(--white-normal)!important;*/
/*font-weight: 400;*/
/*border-radius: 5px;*/
/*}*/


.dashboard1-nav-dropdown {
    color: var(--white-1);
    background: var( --item-main-bg-color);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.dashboard1-nav-dropdown.show{
    transition: 3s;
}


.dashboard1-nav-dropdown.show .dashboard1-nav-item {
    background-color: var(--nav-item-hover-bg);
    color: var(--color-item-hover) !important;
    font-weight: 600;
    text-shadow: rgb(0 0 0 / 25%) 0 -1px 0;
    box-shadow: rgb(0 0 0 / 25%) 0 1px 0, inset rgb(255 255 255 / 16%) 0 1px 0;
    /*transition: 60s;*/
}


.dashboard1-nav-dropdown.show > .dashboard1-nav-dropdown-toggle:after {
    transform: rotate(135deg);
}

.dashboard1-nav-dropdown.show > .dashboard1-nav-dropdown-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}


.dashboard1-nav-dropdown-toggle:after {
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 9px;
    width: 9px;
    left: 0.15em;
    position: relative;
    vertical-align: top;
    top: 0;
    transform:rotate(222deg);
    margin-left: auto;
}



.dashboard1-nav-dropdown-menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.dashboard1-nav-dropdown-item {
    min-height: 40px;
    padding: 8px 20px 8px 15px;
    font-size: 13px;
    line-height: 14px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
    transition: ease-out 0.5s;
    font-weight: 600;
    color: var(--sub-text);
    background-color: var(--dropdown-item);
    border-bottom: 1px solid var(--nav-border);
}



.dashboard1-nav-dropdown-item:hover {
    /*border-radius: 5px;*/
    background-color: var(--nav-item-dropdown)!important;
    color: var(--nav-item-hover-bg) !important;
    /*color: var(--white-normal)!important;*/
}

.dashboard1-nav-dropdown-item:before{
    font-family: "Font Awesome 5 Free";
    content: "\f111";
    display: inline-block;
    padding-right: 5px;
    vertical-align: middle;
    color: var(--nav-item-hover-bg);
    font-size: 9px;
    /*font-size: 13px;*/
    /*color: var(--sub-text);*/
}


.sidebar footer{
    position: absolute;
    background-color:var(--nav-item-hover-bg);
    bottom: 0px;
    border-radius: 0px;
}

.sidebar footer i {
    background-color: var(--nav-item-bg);
    color: var(--logout-bg-red)!important;
    width: 30px;
    font-size: 18px;
    padding: 6px;
    border-radius: 5px;
    /* margin-right: 0px; */
}

.exit{
    font-weight: 700;
}


.sidebar footer a{
    color: var(--white-normal);
    font-size: 14px;
    padding-right: 15px;
}

@media (max-width: 991px){
    .navbar-header {
        float: none;
        margin-left: 15%!important;
    }
    .sidebar footer{
        position: relative;
        bottom: 0px;
        border-radius: 0px;
        width: 100%;
    }

    .menu_bg {
        padding-bottom: 32px;
    }
}


@media (min-width: 1200px) {
    .dashboard1-nav-item{
        font-size: 13px;
        font-weight: 600;
    }

    .dashboard1-nav-dropdown-item{
        font-size: 12px;
    }
}





/*-------------------------------------------*/
/*------new menu left design start-----------*/
/*--------------------------------------------*/

 .left1{
     /*width: 5%;*/
     width: 50px;
     float: left;
     top: 0;
     height: 100%;
     position: fixed;
     overflow: hidden;
 }

.left1 a{
    text-align: center;
    padding: 5px;
    line-height: 2.5em !important;
}

.left1 a i{
    color: #FFFFFF;
}

.right1{
    width: 84%;
    float: right;
    top: 0px;
    height: 100%;
    /*position: relative;*/
    z-index: 999 !important;
    background-color: white;
    padding-top: 10px;
}

.ul1{
    list-style: none;
    margin: 0;
    padding: 0;

}

.active-icon{
    background-color: #fff;
    /*border-radius: 50% 0% 0% 50%;*/
    margin-left: 5px;
    border-top-left-radius: 65px;
    border-bottom-left-radius: 65px;
}

.active-icon a{
    padding: 10px;
}

.active-icon a i{
    color: var(--theme-color-bgc);
}


.ul1 .li1:hover{
    background-color: #fff;
    margin-left: 5px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.ul1 .li1:hover a i{
    color: var(--theme-color-bgc);
}




.li2, .ul2{
    margin: 0;
    padding: 0;
    list-style: none;
}

.ul1 .li1:hover .ul2{
    display: inline-block;
    transition: all 0.5s ease;
}


.ul2{
    /*display: inline-block;*/
    position: fixed;
    margin-top: 2px;
    display: none;
    transition: all 0.5s ease;
}

.li2{
    position: relative;
    background-color: var(--theme-color-bgc);
    color: #FFFFFF;
    padding: 5px;
    border-radius: 5px;
}



@media only screen and (min-width: 1100px){
    .left1{
        width: 32px;

    }
    .left1 a{
        font-size: 15px;
        font-weight: bold;
    }

    .right1{
        width: 84%;

    }
}

@media only screen and (min-width: 1200px){
    .left1{
        width: 35px;

    }
    .left1 a{
        font-size: 15px;
        font-weight: bold;
    }

    .right1{
        width: 84%;

    }
}

@media only screen and (min-width: 1300px){
    .left1{
        width: 40px;

    }
    .left1 a{
        font-size: 15px;
        font-weight: bold;
    }

    .right1{
        width: 84%;

    }
}


@media only screen and (min-width: 1500px){
    .left1{
        width: 42px;
    }
    .left1.active{
        width: 42px !important;
    }
    .left1 a{
        font-size: 15px;
        font-weight: bold;
    }

    .right1{
        width: 84%;

    }
}


@media only screen and (min-width: 1600px){

    .left1.active {
        width: 45px !important;
    }

    .left1{
        width: 45px;
    }
    .left1 a{
        font-size: 20px;
    }
    .right1{
        width: 84%;
    }

    .left1 .ul1 .li1 b:nth-child(1){
        top: 45px !important;
        height: 14px !important;
        width: 100% !important;
    }

    .left1 .ul1 .li1 b:nth-child(1)::before{
        content: '';
        width: 88% !important;
        height: 100% !important;
    }

    .left1 .ul1 .li1 b:nth-child(2){
        top: 103px !important;
        height: 14px !important;
        width: 100% !important;
    }

    .left1 .ul1 .li1 b:nth-child(2)::before{
        content: '';
        width: 88% !important;
        height: 100% !important;
    }


}



@media only screen and (min-width: 1700px){
    .left1.active {
        width: 47px !important;
    }

    .left1{
        width: 46px;
    }

    .left1 a{
        font-size: 20px;
    }

    .right1{
        width: 84%;

    }


    .left1 .ul1 .li1 b:nth-child(1){
        top: 45px !important;
        height: 14px !important;
        width: 100% !important;
    }

    .left1 .ul1 .li1 b:nth-child(1)::before{
        content: '';
        width: 89% !important;
        height: 100% !important;
    }

    .left1 .ul1 .li1 b:nth-child(2){
        top: 103px !important;
        height: 14px !important;
        width: 100% !important;
    }

    .left1 .ul1 .li1 b:nth-child(2)::before{
        content: '';
        width: 89% !important;
        height: 100% !important;
    }

}



@media only screen and (min-width: 1800px){
    .left1.active {
        width: 50px !important;
    }

    .left1{
        width: 49px;
    }

    .left1 a{
        font-size: 20px;
    }

    .right1{
        width: 84%;

    }


    .left1 .ul1 .li1 b:nth-child(1){
        top: 45px !important;
        height: 14px !important;
        width: 100% !important;
    }

    .left1 .ul1 .li1 b:nth-child(1)::before{
        content: '';
        width: 89% !important;
        height: 100% !important;
    }

    .left1 .ul1 .li1 b:nth-child(2){
        top: 103px !important;
        height: 14px !important;
        width: 100% !important;
    }

    .left1 .ul1 .li1 b:nth-child(2)::before{
        content: '';
        width: 89% !important;
        height: 100% !important;
    }

}





.left1 .ul1 .li1 b:nth-child(1){
    position: absolute;
    top: 43px;
    height: 14px;
    width: 100%;
    background-color: #FFFFFF;
    display: none;
}

.left1 .ul1 .li1 b:nth-child(1)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 87%;
    height: 100%;
    border-bottom-right-radius: 10px;
    background-color: var(--theme-color-bgc);
}


.left1 .ul1 .li1 b:nth-child(2){
    position: absolute;
    /*bottom: 145px;*/
    top: 93px;
    height: 14px;
    width: 100%;
    background-color: #FFFFFF;
    display: none;
}

.left1 .ul1 .li1 b:nth-child(2)::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 87%;
    height: 100%;
    border-top-right-radius: 10px;
    background-color: var(--theme-color-bgc);
}

.left1 .ul1 .active-icon b:nth-child(1),
.left1 .ul1 .active-icon b:nth-child(2){
    display: block;
}



/*-----------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------*/
/*------------------------------ Top menu bar icon design is css Start --------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------*/

/*Side Menu hide and open css and js start*/
    .sidemenu {
        position: fixed;
        top: 18px;
        height: 25px;
        width: 25px;
        /*height: 30px;*/
        /*width: 30px;*/
        background-color: var(--theme-color-bgc);
        color: #FFFFFF;
        border-radius: 0px 10px 10px 0px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
.sidemenu.active{
    background-color: #cfcfcf;

}

.sidemenu i{
    position: absolute;
    color: #FFFFFF;
    /*font-size: 24px;*/
    font-size: 20px;
    display: none;
}

.sidemenu i.close1{
    margin-left: 2px;
    color: var(--theme-color-bgc);
}
.sidemenu i.open,
.sidemenu.active i.close1
{
    display: block;
}

.sidemenu i.close1,
.sidemenu.active i.open
{
    display: none;
}


.sidebar.active{
    width: 0%!important;
}
.main_content.active{
    width: 97% !important;
}
.left1.active{
    width: 40px;
    /*width: 36px;*/

}



@media (max-width: 991px){
    .sidemenu{
        height: 0px;
    }

    .notificationblock{
        right: 10px !important;
    }

    .navbar.navbar-absolute{
        width: 40% !important;
    }

}


.circle {
    border-radius: 50%;
    border: 2px var(--theme-color-bgc) solid;
    overflow: hidden
}

.notificationblock {
    height: 100%;
    top: 0;
    width: auto;
    background-color: transparent;
    z-index: auto;
    right: 163px;
    position: absolute;
    display: inline-block;
}

.notificationblock a{
    font-size: 22px;
    padding: 5px;
    display: block;
    float: left;
    position: relative;
    background-color: whitesmoke;
    margin-top: 15%;
    border-radius: 5px;
    margin-left: 3px;
    margin-right: 3px;
}



.notificationblock i {
    font-size: 22px;
    /*color: #5e87a8*/
    color: var(--logout-bg-red);
}


.notificationblock .bell-massage i {
    font-size: 22px;
    color: var(--theme-color-bgc);
}

.notificationblock a:hover i,.notificationblock a:hover {
    color: #ffffff;
    background-color: var(--logout-bg-red);
    border-radius: 5px;
}


.notificationblock .bell-massage:hover i,.notificationblock .bell-massage:hover {
    color: #ffffff;
    background-color: var(--theme-color-bgc);
    border-radius: 5px;
}





/*-----------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------- Table design is css Start --------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------*/
.table1,.thead1,.tbody1{
    font-size: 14px;
    /*font-family: 'Poppins', sans-serif !important;*/
    /*font-family: 'Roboto', sans-serif  !important;*/
    text-align: center;
}


.table1 {
    width: 100%;
    overflow:auto;
}

.table1{
    /*display:table;*/
}

.thead1, .tbody tr {
    /*display:table;*/
    width:100%;
    table-layout:fixed;
}

.thead1{
    position: sticky;
    top: 0px;
}
.table1 .btn1{
    line-height: 1 !important;
}


#table_head thead .bgc-info,.thead1 .bgc-info{
    background-color: var(--table-bg-color) !important;
    color: var(--table-color)!important;
}


tr:nth-child(odd){
    background-color: var(--child-odd-color) !important;
    color: var(--child-text-color) !important;

}

tr:nth-child(even){
    background-color: var(--child-even-color)!important;
    /*color:#3D80DF !important;*/
    /*font-weight: bold !important;*/

}





@media only screen and (max-width: 991px){

    .table1 {
        display:block;
        max-height:500px;
        max-width: fit-content;
        width: 100%;
        /*overflow-x:auto;*/
        overflow:auto;
    }

    .table1,.thead1,.tbody1{
        font-size: 12px !important;
    }


}



.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: 0px !important;
}

.dataTables_info{
    font-size: 12px !important;

}

.dataTables_length label{
    font-size: 12px !important;
    width: 100% !important;
}

.dataTables_length label select{
    width: 90%!important;
}


.page-link{
    background-color: #fff !important;
    border: 1px solid #dee2e6 !important;
}
.page-item.active .page-link{
    z-index: 1;
    color: #ffffff !important;
    background-color: #2196f3 !important;
    border: 1px solid #2196f3 !important;
}


.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active
{

    color: #000 !important;
    cursor: pointer !important;
    /*color: #666 !important;*/
    /*border: 1px solid #0be3ff !important;*/
    background-color: #0be3ff !important
box-shadow: none;
}

.paginate_button a:hover{
    color: #000!important;
    font-weight: bold!important;
}

.paginate_button a:active{
    color: #000!important;
    font-weight: bold!important;
}






/*-----------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------- Form design is css Start --------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------*/
.n-form-titel1{
    background-color: var(--form-info);
    color: var(--form-white);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px 5px 0px 0px;
}

.n-form{
    background-color: var(--white-smoke);
    padding-bottom: 10px;
    border-radius: 5px;
}

.n-form1{
    background-color: var(--white-smoke);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

/*dubul form*/
.n-form2{
    background-color: var(--white-smoke);
    padding-top: 10px;
    padding-bottom: 10px;
}


.n-form-btn-class{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.req-input::after{
    content: '\*';
    color: var(--req-input-after);
}


.fo-width{
    min-width: 850px !important;
}

.fo-width1{
    min-width: 650px !important;
}

.fo-short{
    min-width: 500px !important;
}


/*.mobile-form1{*/
/*display: none;*/
/*}*/

/*.destop-form1{*/
/*display: block;*/
/*}*/


/*@media screen and (max-width: 600px) {*/
/*.mobile-form1 {*/
/*display: block;*/
/*}*/
/*.destop-form1{*/
/*display: none;*/
/*}*/
/*}*/


.bg-form-titel{
    background-color: var(--form-titel-bg-color);
    padding-top: 20px;
    padding-bottom: 20px;

}

.bg-form-titel-text{
    font-size: 15px;
    font-weight: bold;
}

.bold{
    font-weight: bold;
}

.form-tabel-bg-color-info{
    background-color: var(--form-tabel-bg-color-info);
    color: var(--white);
}

.bg-titel{
    background-color: var(--bgc-sallmon);
    color: var(--black);
}

.bg-table1{
    background-color: var(--bgc-sallmon1);
    color: var(--black);
}


label{
    font-size: 14px !important;
}

input[type=text],input[type=password],select{
    height: 35px !important;
    margin: 0px !important;
    width: 100% !important;
    background-color: var(--form-white) !important;
    border: 1px solid #9fb2c5 !important;
    outline: none!important;
}


input[type=submit],input[type=button]{
    min-width: 100px!important;
    outline: none!important;
}



input[type=date]{
    margin: 0px !important;
    width: 100% !important;
    height: 35px !important;
    background-color: var(--form-white) !important;
    border: 1px solid #9fb2c5 !important;
    outline: none!important;

}


input[type=file]{
    margin: 0px !important;
    width: 100% !important;
    cursor: pointer;
    outline: none!important;

}


input[type=number]{
    margin: 0px !important;
    width: 100% !important;
    height: 35px !important;
    background-color: var(--form-white) !important;
    border: 1px solid #9fb2c5 !important;
    outline: none!important;

}

textarea{
    width: 100% !important;
    border: 1px solid #E0E0E0 !important;
    background-color: var(--form-white)!important;
    height: auto !important;
    resize: both!important;
    line-height: 1.428571 !important;
    outline: none!important;
}

input[type=file]:focus,
input[type=text]:focus,
input[type=submit]:focus,
input[type=date]:focus,
input[type=password]:focus,
select:focus, textarea:focus{
    border: 1px solid #dee2e6!important;
}

.vendor_info_img img{
    width: 100%;
    /*width: 120px;152*/
    height:155px;
}

.vendor_label_text{
    font-size: 12px !important;
    font-weight: bold;
}

.custom-combobox-input{
    margin: 0px !important;
    padding: 0px !important;
    width:92%!important;
    background: var(--form-white) !important;
}

.custom-combobox-toggle{
    background-color: var(--theme-color-bgc) !important;
}


.font-size12{
    font-size: 12px !important;

}

.font-size13{
    font-size: 13px !important;
}

.font-size14{
    font-size: 14px !important;
}

.font-size15{
    font-size: 15px !important;
}


@media only screen and (max-width: 991px){

    .form-group .justify-content-end{
        justify-content: flex-start!important;
    }

    .fo-width{
        min-width: 100% !important;
    }

    .fo-width1{
        min-width: 100% !important;
    }

    .fo-short{
        min-width: 100% !important;
    }

}









/*-----------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------- Dashboard design is css Start ------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------*/
.card {
    border: 0 !important;
    margin-bottom: 15px !important;
    margin-top: 15px !important;
    border-radius: 6px !important;
    color: #333333 !important;
    background: #fff !important;
    width: 100% !important;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%) !important;
}


#localsales7day,#possales7day,#sales7day,#salesReturn,
#inventoryValue,#presentStock,#grnValue,#invoiceValue{
    font-size: 17px;
    font-weight: bold;
}

/*.card-title #salesReturn{*/
/*font-size: 18px !important;*/
/*font-weight: normal !important;*/
/*}*/


#onemounth{
    height: 268px;

}
@media(max-width: 1200px) {
    #onemounth{
        height: 212px;
    }
}

@media(max-width: 1400px) {
    #onemounth{
        height: 212px;
    }
}

@media(max-width: 1500px) {
    #onemounth{
        height: 357px;
    }
}





/*-----------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------- Clock design is css Start --------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------*/
#clock span{
    display: block;
}

#clock{
    display:block;
    /*text-align: center;*/
    padding-right:10px;
    line-height: 1;
    justify-content: center;
    right:12px!important;
    width: 150px !important;
    /*width: 121px !important;*/
    position: absolute !important;
    color: var(--theme-color-bgc) !important;
    /*text-shadow: 0 0 10px rgba(10, 175, 230, 1),  0 0 10px rgba(10, 175, 230, 0);*/
}

.time,.date,.text{
    font-family: 'Zen Dots', cursive !important;
}
/*.text{*/
/*font-family: ;*/
/*font-weight: 700;*/
/*}*/
.text,.date{
    font-size: 9px !important;
    color: #3e4a5a;
}

.date{
    overflow: hidden!important;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
    margin-left: 1px;
}

.time{
    overflow: hidden!important;
    position: absolute !important;
    font-size: 15px !important;
    font-weight: 800;
    /*margin-left: 2px;*/
    margin-left: 15px;
}

.text{
    overflow: hidden!important;
    margin-top: 22px !important;
}


@media only screen and (max-width: 700px) {
    #clock{
        display: none!important;
    }
}


@media only screen and (max-width: 820px) {
    #clock{
        display: none!important;
    }
}





@media only screen and (max-width: 991px) {
    #clock{
        display: none!important;
    }
}


















